In [8]:
# Tipo de Dados
  # Criando objetos de variados tipos
    # Int
12

12

In [10]:
# float
12.1

12.1

In [9]:
# Str
"Olá, mundo!"

'Olá, mundo!'

In [11]:
# bool
True
False

False

In [16]:
# Importar biblioteca renomeando-a
import pandas as pd
import numpy as np

data = pd.to_datetime("2022-01-18")
print(data)

2022-01-18 00:00:00

In [17]:
# Estrutura de Dados
  # Criando estruturas de dados no Python
    # list
lista = [1, "A", True, [1, 2, 3, 4]]
print(lista)

[1, 'A', True, [1, 2, 3, 4]]

In [18]:
# tuple
tupla = (1, "A", True)
print(tupla)

(1, 'A', True)

In [19]:
# dict
dicionario = {"nome": "fernando", "idade": 10, "sexo_masculino": True}
print(dicionario)

{'nome': 'fernando', 'idade': 10, 'sexo_masculino': True}

In [20]:
# ndarray
print(np.array([1, 2, 3, 4]))  # Uma dimensão
print(np.array([[1, 2, 3], ["a", "b", "c"]]))  # Duas dimensões

[1 2 3 4]
[['1' '2' '3']
 ['a' 'b' 'c']]

In [21]:
# Series
print(pd.Series(np.array([1, 2, 3, 4])))  # de um ndarray
print(pd.Series([1, 2, 3]))  # de uma list
print(pd.Series({"a": 1, "b": 2}))  # de um dict

0    1
1    2
2    3
3    4
dtype: int64
0    1
1    2
2    3
dtype: int64
a    1
b    2
dtype: int64

In [28]:
# DataFrame
tabela = pd.DataFrame(
    {
        "coluna_A": ["a", "b", "c"],
        "coluna_B": [1, 2, 3],
        "coluna_C": [True, True, False],
        "coluna_D": pd.to_datetime(["2022-01-18", "2022-01-18", "2022-01-18"])
    }
)
print(tabela)

  coluna_A  coluna_B  coluna_C   coluna_D
0        a         1      True 2022-01-18
1        b         2      True 2022-01-18
2        c         3     False 2022-01-18

In [22]:
# Indexação de Objetos
  # str
texto = "Palavra"
print(texto[2])   # Acesso ao 3º item
print(texto[2:5]) # Acesso a um intervalo de itens
print(texto[-1])  # Última letra

l
lav
a

In [23]:
# list
print(lista[0])       # Primeiro elemento
print(lista[-1])      # Último elemento
print(lista[-1][2])   # Terceiro elemento da última sublista
print(lista[0:2])     # Fatiamento

1
[1, 2, 3, 4]
3
[1, 'A']

In [24]:
# tuple
print(tupla[0:2])
print(tupla[-1])

(1, 'A')
True

In [29]:
# DataFrame
print(tabela["coluna_A"]) # acessa coluna pelo nome (retorna Series)
print(tabela[["coluna_A"]]) # acessa coluna pelo nome (retorna DataFrame)
print(tabela[["coluna_A", "coluna_C"]]) # múltiplas colunas
print(tabela.iloc[0]) # Acessa a 1 Linha
print(tabela.iloc[-1]) # Acessa a última Linha
print(tabela.iloc[0:2]) # Acessa intervalo de linhas
print(tabela.iloc[0:2, 0:2]) # Acessa linhas e colunas simultaneamente
print(tabela.iloc[0:2, [0, 2, 3]]) # Acessa linhas específicas e colunas específicas

0    a
1    b
2    c
Name: coluna_A, dtype: object
  coluna_A
0        a
1        b
2        c
  coluna_A  coluna_C
0        a      True
1        b      True
2        c     False
coluna_A                      a
coluna_B                      1
coluna_C                   True
coluna_D    2022-01-18 00:00:00
Name: 0, dtype: object
coluna_A                      c
coluna_B                      3
coluna_C                  False
coluna_D    2022-01-18 00:00:00
Name: 2, dtype: object
  coluna_A  coluna_B  coluna_C   coluna_D
0        a         1      True 2022-01-18
1        b         2      True 2022-01-18
  coluna_A  coluna_B
0        a         1
1        b         2
  coluna_A  coluna_C   coluna_D
0        a      True 2022-01-18
1        b      True 2022-01-18

In [30]:
# Informações de Tabela
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   coluna_A  3 non-null      object
 1   coluna_B  3 non-null      int64
 2   coluna_C  3 non-null      bool
 3   coluna_D  3 non-null      datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 207.0+ bytes
None